body {
    background-color: rgb(25, 219, 155);
    color:rgb(12, 6, 6);
    font-family: Arial, sans-serif;
}

header {
    background-color: rgb(0, 162, 255);
    color: aliceblue;
    text-align:center;
    padding: 30px;
}

h1  {
    font-size: 36px;
}

h2  {
    color: rgb(6, 30, 75);
}
p   {
    font-size: 18px;
    line-height: 1.6;
}

