body {
    background-color: rgb(25, 219, 41);
    color:rgb(2, 3, 2);
    font-family: Arial, sans-serif;
}

header {
    background-color: rgb(14, 120, 219);
    color: aliceblue;
    text-align:center;
    padding: 30px;
}

h1  {
    font-size: 36px;
}

h2  {
    color: rgb(6, 67, 75);
}
p   {
    font-size: 18px;
    line-height: 1.6;
}

