body {
    background-color: #f4f1ea;
    color: #222222;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: rgb(14, 120, 219);
    color: rgb(192, 199, 206);
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 36px;
}

h2 {
    color: rgb(6, 67, 75);
}

p {
    font-size: 18px;
    line-height: 1.6;
}
nav {
    margin-top: 20px;
}
nav a{
color: aliceblue;
text-decoration: none;
background-color: rgb(25, 91, 100);
padding: 10px 15px;
border-radius: 8px;
margin: 5px;
display: inline-block;
}
nav a :hover  {

    background-color: rgb(9, 56, 40);
}



main {
    width: 80%;
    margin: auto;
}

section {
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 12px;
}

img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    border-radius: 12px;
}

figcaption {
    text-align: center;
    font-size: 14px;
    color: #555555;
    margin-top: 8px;
}

.card {
    background-color: rgb(192, 162, 30);
    padding: 15px;
    margin: 15px 0;
    border-left: 6px solid #7c620b;
    border-radius: 10px;
}

.card h3 {
    margin-top: 0;
}

footer {
    background-color: rgb(20, 65, 50);
    color: aliceblue;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}